


@import url('https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}



.container {
  max-width: 48px;
  margin: 4em ;
  padding: 2px;
  background: #fff;
  border-radius: 1em;
}

.container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


section.cards {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row dense;
  margin: 10px;
  margin-top: 50px;
  justify-content: center;
  grid-template-columns: repeat(2, 562px);
  grid-template-rows: repeat(1, 196px); 
  grid-gap: 16px;
}

.card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
}

.card:hover {
  transform: scale(1.05);
}

.filter {
  width:40%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.category-link {
  border-radius: 10px;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
  font-weight: bold;
}

.horizontal {
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
  position: relative;
}



.horizontal .card__img, .reverse-horizontal .card__img {
  height: 100%;
}

.card__content {
  padding-left: 16px;
}

.card__type {
  font-variant: small-caps;
  letter-spacing: 2px;
  opacity: 0.9;
  color: palevioletred;
  padding-bottom: 0.5em;
}

.card__title {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 700;
  padding-bottom: 0.5em;
  transition: all 0.25s ease;
}

.card_category{
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.card__date {
  font-size: 14px;
  padding-bottom: 0.5em;
  opacity: 0.3;
}

.card__time-to-read {
  font-style: italic;  
}

.card__excerpt {
  font-size: 16px;
  padding-bottom: 0.5em;
}

.card__tags {
  margin-top: auto;
}

.tag {
  display: inline;
  background: papayawhip;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 12px;
  color: palevioletred;
  user-select: none;
  cursor: pointer;
}

.tag:hover {
  background: darken(papayawhip, 5%);
}

.tag:active {
  background: darken(papayawhip, 10%);
}

.tag i {
  margin-right: 4px;
}