{{define "error-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/templates/styles/error.css">
</head>

<body>
    <section class="error-container">
        <span>{{.Error.Status}} {{.Error.Msg}}</span>
    </section>
    <div class="link-container">
        <a href="/" class="more-link">Home</a>
    </div>
</body>

</html>
{{end}}