{{define "create-post"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="/templates/styles/post.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/templates/images/favicon.ico">
    <title>Post page</title>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">Forum</a>
        <div class="header-right">
            <a href="/my-posts">My Posts</a>
            <a href="/liked-posts">Liked Posts</a>
            <a href="/posts/create">New Post</a>
            <a href="/sign-out">Log out</a>
        </div>
    </div>
    <div class="row">
        <div class="colm-form">
            <div class="form-container">
                <form action="/posts/create" method="post" id="form-post" enctype="multipart/form-data">
                    <h3><label>Title</label></h3>
                    <textarea rows="5" name="title" class="small" required></textarea><br><br>
                    <h3><label>Post Content</label></h3>
                    <textarea rows="5" name="content" required></textarea><br><br>
                    <div class="post-categories">
                        <h3><label>Post categories</label></h3>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="General">
                            <label class="form-check-label" for="inlineCheckbox1">General</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Code">
                            <label class="form-check-label" for="inlineCheckbox2">Code</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Meta">
                            <label class="form-check-label" for="inlineCheckbox3">Meta</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Business">
                            <label class="form-check-label" for="inlineCheckbox4">Business</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Crypto">
                            <label class="form-check-label" for="inlineCheckbox5">Crypto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Social">
                            <label class="form-check-label" for="inlineCheckbox6">Social</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="category" class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Another">
                            <label class="form-check-label" for="inlineCheckbox7">Another</label>
                        </div>
                    </div>
                    <button class="btn-login" form="form-post">Post</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}