<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/home.css">
  <link rel="stylesheet" href="/static/styles/header.css">
  <link rel="stylesheet" href="/static/styles/body.css">


  <title>Main</title>
</head>

<body>
  <div class="header">
    <a href="/" class="logo">Forum</a>
    <form action="/search" class="form">
      <input type="text" name="search" placeholder="Search..." class="search-container" required list="search">
    </form>
    <div class="search-category">
        {{if .Posts}}
        {{(index .Posts 0).Category}}
        {{else}}
        No such category
        {{end}}
    </div>
    <div class="header-right">
      {{if .User_email}}
      <a href="/profile">Profile</a>
      <a href="/post_page">New Post</a>
      <a href="/logout">Log out</a>
      {{else}}
      <a href="/login">Profile</a>
      <a href="/login">New Post</a>
      <a href="/login">Login</a>
      <a href="/registration">Register</a>
      <!--if not logged in-->
      {{end}}
    </div>
  </div>




  {{range .Posts}}
  <section class="cards">

    <article class="horizontal card">
      <img class="card__img" src="https://picsum.photos/256/196/?image=321" class="card__image">
      <div class="card__content">
        <div class="card__type">{{.Username}}</div>
        <div class="card__title">{{.Title}} </div>
        <div class="card__date"> {{.Date}}</div>
        <div class="card__excerpt">
          {{.Content}}
        </div>
        <div class="card__tags">
          <form method="post">
            <button formaction="/like/?id={{.ID}}">like</button>
            <button formaction="/comments/?id={{.ID}}">more</button>
          </form>
        </div>
      </div>
      <div class="card_category">{{.Category}} </div>
    </article>

  </section>
  {{end}}




</body>

</html>